<div align="center"><h1>Welcome To The Online Book Library</h1></div>

<%@books.each do |b|%>
 <h3><%=link_to b.title, book_path(b)%></h3>
 <p><strong><%=b.author%></strong></p>
 <%if admin_signed_in?%>
  <p>
   <%=link_to "Edit", edit_book_path(b)%> &nbsp;&nbsp;&nbsp;
   <%=link_to "Delete", book_path(b), method: :delete, data: {confirm: "Are You Sure?"}%>
  </p>
 <%end%>
 <hr>
<%end%>
